body::-webkit-scrollbar {
  width: 8px;
  border-left: 1px solid #ddd;
}
body::-webkit-scrollbar-thumb {
  border-left: 0.5px solid #fff;
  border-right: 0.5px solid #fff;
  background-color: #262626;
  border-radius: 3px;
}
.slide-bg {
  max-height: 780px;
  min-width: 1336px;
}
@media screen and (min-width: 768px) {
  #jumbotroon-content .jumbotroon-content-wrapper {
    max-height: 768px;
  }
}
@media screen and (min-width: 1024px) {
  section,
  #layer,
  #footer-bottom,
  #img-section {
    max-height: 768px;
  }
}
#header-layer {
  height: 922.79px;
}

@media screen and (min-width: 768px) {
  /* galery */
  .galery-wrapper .galery-item:nth-child(1) {
    grid-column: span 2;
  }
  .galery-wrapper .galery-item:nth-child(3) {
    grid-row: span 2;
  }
}

.dropdown-heading:hover h3 {
  color: #10B981;
}
.dropdown-heading h3, .dropdown-heading span {
  transition: all 300ms ease;
}
.dropdown-heading:hover span {
  color: rgb(199, 199, 199);
}
#article-search-btn:disabled {
  background-color: #ddd;
  cursor: default;
};
