body::-webkit-scrollbar {
  width: 8px;
  border-left: 1px solid #ddd;
}
body::-webkit-scrollbar-thumb {
  border-left: 0.5px solid #fff;
  border-right: 0.5px solid #fff;
  background-color: #262626;
  border-radius: 3px;
}
#jumbotroon-content {
  background-image: url(/src/img/muhamka.jpg);
  background-size: cover;
  background-position: center;
  max-height: 768px;
}
@media screen and (min-width: 1024px) {
  #jumbotroon-content div,
  section,
  #layer,
  #footer-bottom,
  #img-section {
    max-height: 768px;
  }
}
#header-layer {
  height: 922.79px;
}

@media screen and (min-width: 768px) {
  /* galery */
  .galery-wrapper .galery-item:nth-child(1) {
    grid-column: span 2;
  }
  .galery-wrapper .galery-item:nth-child(3) {
    grid-row: span 2;
  }
}