body {
    font-family: 'Lexend', sans-serif;
}

@media screen and (max-width: 992px) {
    #menu-item:hover span {
        color: rgb(20, 83, 45);
        text-decoration: underline;
    }
}

#sidebar-menu::-webkit-scrollbar {
    width: 8px;
    background-color: #ddd;
}
#sidebar-menu::-webkit-scrollbar-thumb {
    border: 1px solid #ddd;
    background-color: rgba(131, 131, 131, 0.8);
    border-radius: 10px;
}